@import "../../bower_components/bootstrap-stylus/stylus/bootstrap"
@import "../../bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css"
@import "../../vendor/bootstrap-jasny-extend/css/jasny-bootstrap.css"
@import "../../vendor/font-awesome.css"
@import "ctrl_panel"
@import "print_queue"
@import "service_discovery"
@import "error_modals"

// Font Awesome Bootstrap Compatibility Hacks
[class^="fa-"], [class*=" fa-"]
  background-image none
  padding-right 0.1em
  line-height inherit

.btn [class^="fa-"], [class*=" fa-"]
  line-height 1em

.btn .caret
  margin-left: 5px

// OtherBootstrap Hacks

.modal-backdrop
  z-index 1032

.modal
  overflow-y hidden

.modal-dialog
  width 900px

// Inputs

input.form-control.ng-invalid
  color: $brand-danger
  border-color: currentColor

.popover
  z-index 900
  &.in
    z-index 1000

// Layout

.initial-loading-overlay.ng-hide
  display: none

html, body
  height 100% // Not sure why but 100% was borking FF
  margin 0px
  padding 0px

body
  overflow hidden

@css {
  @-moz-document url-prefix() {
    body {
      margin-top: -20px;
    }
  }
}

#main-container
  position absolute
  display flex
  flex-flow column
  box-align center
  width 100%
  height 100%

  > .container
    width: 100%

header
  flex 0 0 auto
  h1 .name
    color #CCC

  .status
    margin-left: 15px
    color lighten($brand-success, 10%)

  .status.printer-status-estopped
    color lighten($brand-danger, 30%)

.content
  margin-top: 15px
  &, > .row, > .row > div.content-col, .tab-content
    display flex
    flex-flow column
    flex 1 1 auto

    &.ng-hide
      display none


footer
  flex 0 0 auto
  padding-bottom: 14px;
  background: white;
  z-index: 1000;

  .h-rule
    // margin-top: 2px
    border-top 1px solid #CCC
    width: 100%
    padding-top 6px

  .temperature
    display inline-block
    margin-right 18px

    .name, .value
      display inline-block
    .value
      padding-left 6px
      font-weight bold

  .btn
    margin-left 18px


.modal
  width 80%
  left 10%
  height 80%
  top 10%
  margin 0px

.canvas-container
  overflow hidden

.big-not-found
  color #BBB
  font-size 300%
  font-weight bold
  text-align center

  &.centered
    position absolute
    top 50%
    left 0px
    width 100%
    margin-top -30px

.small-not-found
  font-size 100%
  font-weight bold
  text-align center

div.no-printer-found
  margin-left -150px

.no-camera
  position absolute
  top 50%
  left 0px
  width 100%
  margin-top -80px
  margin-left 150px
