@import "../../bower_components/bootstrap-stylus/stylus/bootstrap"
@import "../../bower_components/bootstrap-switch/build/css/bootstrap3/bootstrap-switch.css"
@import "../../vendor/bootstrap-jasny-extend/css/jasny-bootstrap.css"
@import "../../vendor/font-awesome.css"
@import "ctrl_panel"
@import "service_discovery"


// Font Awesome Bootstrap Compatibility Hacks
[class^="fa-"], [class*=" fa-"]
  background-image none
  padding-right 0.1em
  line-height inherit

.btn [class^="fa-"], [class*=" fa-"]
  line-height 1em

// Layout

html, body
  height 100% // Not sure why but 100% was borking FF
  margin 0px
  padding 0px

@css {
  @-moz-document url-prefix() {
    body {
      margin-top: -20px;
    }
  }
}

#main-container
  display flex
  flex-flow column
  box-align center
  width 100%
  height 100%

  > .container
    width: 100%

header
  h1 .name
    color #CCC

.content
  margin-top: 15px
  flex 1 1 auto

footer
  padding-bottom: 14px;
  background: white;
  z-index: 1000;

  .h-rule
    margin-top: 2px
    border-top 1px solid #CCC
    width: 100%
    padding-top 6px

  .temperature
    display inline-block
    margin-right 18px

    .name, .value
      display inline-block
    .value
      padding-left 6px
      font-weight bold

  .btn
    margin-left 18px


.modal
  width 80%
  left 10%
  height 80%
  top 10%
  margin 0px

.canvas-container
  overflow hidden

.big-not-found
  color #BBB
  font-size 300%
  font-weight bold
  text-align center

.big-not-found
  color #BBB
  font-size 300%
  font-weight bold
  text-align center

.small-not-found
  font-size 100%
  font-weight bold
  text-align center

.no-printer-found
  position absolute
  top 50%
  left 0px
  width 100%
  margin-top -30px
  margin-left -150px

.no-camera
  position absolute
  top 50%
  left 0px
  width 100%
  margin-top -80px
  margin-left 150px
