extends layout
block content

  .tab-content

    #print_queue.tab-pane.active
        .headers-table
          table.table.table-striped
            thead
              tr
                th File
                th Status
                th Quality
                th Qty
        .data-table
          table.table.table-striped(ng-if="(parts()).length")
            tbody
              tr(ng-repeat="part in parts()" draggable="true" sortable_row=true data-position="{{part.position}}")
                td
                  .fa.fa-bars.drag-handle
                  | {{part.file_name}}
                td {{part.status | capitalize}}
                td(ng-if="part.quality") {{part.quality | capitalize}}
                td(ng-if="!part.quality") N/A
                td {{part.qty_printed}} / {{part.qty}}
          .big-not-found.centered(ng-if="!(parts()).length")
            | The Print Queue is Empty



    #manual_ctrl.tab-pane
      include ./ctrl_panel

    //- #settings.tab-pane
    //-   |Settings
    //-   .form.form-inline.pull-right
    //-     label.radio.inline
    //-       input(type="radio", name="units-radio", value="mm")
    //-       | Inches
    //-     label.radio.inline
    //-       input(type="radio", name="units-radio", value="inches")
    //-       | Millimeters
    //-   h3 Units

//- mixin console
//-   .console-panel.col-sm-6.pull-right
//-     h3 Console
//-     .console-history.well
//-       .c Connecting....
//-       .c Connected
//-       .c G1 x90
//-       .c G1 x190
//-       .c G1 x90
//-       .c G1 x190
//-       .c G1 x90
//-     .console-form
//-       input(type='text')
//-       .btn Submit
