extends layout
block content

  .tab-content

    #print_queue.tab-pane.active
        .headers-table
          table.table.table-striped
            thead
              tr
                th File
                th Status
                th Qty Printed
                th Total Qty
                th Quality
                th
        .data-table
          table.table.table-striped(ng-if="(parts()).length")
            tbody
              tr(ng-repeat="part in parts()" draggable="true" sortable_row=true data-position="{{part.position}}")
                //- Filename
                td
                  .fa.fa-bars.drag-handle
                  | {{part.file_name}}
                //- Status
                td {{part.status | capitalize}}
                //- Qty Printed
                td
                  {{part.qty_printed}} printed
                //- Total Qty
                td
                  input.form-control(type="number" required ng-model="part.qty" min="1" ng-change="set(part.id, 'qty')")
                //- Quality
                td(ng-if="!part.quality")
                  .quality-not-applicable N/A
                td(ng-if="part.quality")
                  .btn-group
                    button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
                      | {{part.quality | capitalize}}
                      span.caret
                    ul.dropdown-menu(role="menu")
                      li(ng-repeat="option in (p.print_qualities).options")
                        a(href="#" ng-click="set(part.id, 'quality', option)")
                          | {{option | capitalize}}
                //- Actions (buttons + delete)
                td.part-actions
                  i.fa.fa-times.delete-part(ng-click="rm(part.id)")
                  .btn.btn-default(ng-if="part.status == 'estopped'" ng-click="retryPrint()")
                    | Retry Print
          .big-not-found.centered(ng-if="!(parts()).length")
            | The Print Queue is Empty



    #manual_ctrl.tab-pane
      include ./ctrl_panel

    //- #settings.tab-pane
    //-   |Settings
    //-   .form.form-inline.pull-right
    //-     label.radio.inline
    //-       input(type="radio", name="units-radio", value="mm")
    //-       | Inches
    //-     label.radio.inline
    //-       input(type="radio", name="units-radio", value="inches")
    //-       | Millimeters
    //-   h3 Units

//- mixin console
//-   .console-panel.col-sm-6.pull-right
//-     h3 Console
//-     .console-history.well
//-       .c Connecting....
//-       .c Connected
//-       .c G1 x90
//-       .c G1 x190
//-       .c G1 x90
//-       .c G1 x190
//-       .c G1 x90
//-     .console-form
//-       input(type='text')
//-       .btn Submit
