doctype
html(ng-app="teghApp")
  head
    meta(charset='utf-8')
    title Tegh
    meta(name='description', content='')
    meta(name='author', content='')
    //- Mobile Specific
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //- CSS
    link(rel='stylesheet', href='css/app.css')

  body(ng-controller="main")
    #main-container

      //- Header
      header.container
        .row
          .col-sm-12
            //- Navigation
            .pull-right
              ul.nav.nav-pills
                //- each tab, i in ['print_queue', 'manual_ctrl', 'settings']
                each tab, i in ['print_queue', 'manual_ctrl']
                  //- each tab, i in ['print_queue']
                  li(class="#{i == 0 ? 'active' : ''}")
                    a(href= '##{tab}', data-toggle="pill", class="#{tab}_nav")= tab.titleize()
            //- Title
            h1 Ctrl Panel 
              span.name Ultimaker 2

      //- Body
      .content.container
        .row
          .col-sm-12
            block content

      //- Footer
      footer.container
        .row
          .col-sm-12
            .h-rule

            .pull-right
              .btn.btn-danger E STOP
              if false
                a.btn-new-print-job.btn.btn-default(href="#")
                  i.fa.fa-plus
                  | Print Job

            //- if false
            //-   .temperature
            //-     .name PLA Extruder:
            //-     .value 172&deg;C
            //-   .temperature
            //-     .name ABS Extruder:
            //-     .value 168&deg;C
            //-   .temperature
            //-     .name Build Platform:
            //-     .value 98&deg;C

      
    script(src='js/vendor.js')
    script(src='js/app.js')
