doctype
html(ng-app="teghApp", ng-csp="")
  head
    meta(charset='utf-8')
    title Tegh
    meta(name='description', content='')
    meta(name='author', content='')
    //- Mobile Specific
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //- CSS
    link(rel='stylesheet', href='css/app.css')

  body.canvas-slid(ng-controller="main")
    nav#teghNavMenu.navmenu.navmenu-default.navmenu-fixed-left.offcanvas.canvas-slid.in(role= "navigation")
      a.navmenu-brand(href= "#") Select a 3D Printer
      ul.nav.navmenu-nav(ng-controller="service_discovery")
        li(ng-repeat="service in services", ng-class="{active: active == service}", ng-click="activate(service); changePrinter(service)" data-target= "#teghNavMenu", data-toggle= "offcanvas")
          a(href="#"){{service.name}} ({{service.address}})
        li(ng-if="!services.length")
          .small-not-found No 3D Printers Found.


    a.showPrintersBtn(data-canvas= "body", data-target= "#teghNavMenu", data-toggle= "offcanvas", type= "button")
      .btn.btn-default
        i.fa.fa-bars

    #main-container

      //- Header
      header.container
        .row
          .col-sm-12
            //- Navigation
            .pull-right
              ul.nav.nav-pills
                //- each tab, i in ['print_queue', 'manual_ctrl', 'settings']
                each tab, i in ['print_queue', 'manual_ctrl']
                  //- each tab, i in ['print_queue']
                  li(class="#{i == 0 ? 'active' : ''}")
                    a(href= '##{tab}', data-toggle="pill", class="#{tab}_nav")= tab.titleize()
            //- Title
            h1
              | Tegh
              span.name  {{service.name}}

      //- Body
      .content.container
        .row
          .col-sm-12(ng-if="p")
            block content
          .big-not-found.no-printer-found(ng-if="!p")
            | Select a 3D Printer

      //- Footer
      footer.container
        .row
          .col-sm-12
            .h-rule

            .pull-right
              .btn.btn-danger E STOP
              if false
                a.btn-new-print-job.btn.btn-default(href="#")
                  i.fa.fa-plus
                  | Print Job

            //- if false
            //-   .temperature
            //-     .name PLA Extruder:
            //-     .value 172&deg;C
            //-   .temperature
            //-     .name ABS Extruder:
            //-     .value 168&deg;C
            //-   .temperature
            //-     .name Build Platform:
            //-     .value 98&deg;C


    script(src='js/vendor.js')
    script(src='js/app.js')
